<a href="https://colab.research.google.com/github/Yuan-Hessed-Vasig/CPE-103-00P-1-A/blob/main/Laboratory_No_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assigning Variables of Different Data Types in Python

In [19]:
value = 5
print(value)

5

In [21]:
value = 5.0
print(value)

5.0

In [20]:
type(value)

int

In [6]:
value = 2+3j
type(value)

complex

In [7]:
value = 'Hello World'
type(value)

str

In [9]:
value = "Hello World"
type(value)

str

In [10]:
value = True
type(value)

bool

In [11]:
value = False
type(value)

bool

In [12]:
value = [1,2,3,4,5]
type(value)

list

In [13]:
value = (1,2,3,4,5)
type(value)

tuple

In [16]:
value = { 'name': 'Your_name' }
type(value)

dict

In [17]:
value = None
type(value)

NoneType

In [18]:
value = 5
value2 = -6

# Performing Operations with Python

In [24]:
#a
value, value2 = 5.0, 6

print(value+value2)

11.0

In [25]:
#b
value, value2 = -5, 6.1

print(value+value2)

1.0999999999999996

In [27]:
#c
value, value2 = "Hello ", 'world'

print(value+value2)

Hello world

In [28]:
#d
value,value2 = [1,2,3], [4,5,6]

print(value+value2)

[1, 2, 3, 4, 5, 6]

In [30]:
#e
value,value2 = (1,2,3), (4,5,6)

print(value+value2)

(1, 2, 3, 4, 5, 6)

In [93]:
#f
value,value2 = {"name": "Royce"}, {"age": 2}

print({**value, **value2})

{'name': 'Royce', 'age': 2}

In [40]:
#a(-)
value, value2 = 5.0, 6

print(value-value2)

-1.0

In [39]:
#b(-)
value, value2 = -5, 6.1

print(value-value2)

-11.1

Number 3(Performing Operations with Python)

In [42]:
#a
value, value2 = 30,4

print(value*value2)

120

In [41]:
#b
value, value2 = 30,4

print(value2**2)

16

In [43]:
#c
value, value2 = 30,4

print(value2**3)

64

In [44]:
#d
value, value2 = 30,4

print(value**value2+value2**2+1)

810017

In [46]:
#e
value, value2 = 30, 4

print(value/value2)

7.5

In [45]:
#f
value, value2 = 30, 4

print(value%value2)

2

# Assigning Input Data to a Variable

In [71]:
name = input("Enter your name: ")
weight = float(input("Enter your weight(KG): "))
height = float(input("Enter your meters(m): ",))

bmi = weight / height**2

print("\nName:",name)
print("Weight:",weight,"kg")
print("Height:",height,"m")
print("BMI:",(bmi))

Enter your name: Yuan
Enter your weight(KG): 73
Enter your meters(m): 1.68

Name: Yuan
Weight: 73.0 kg
Height: 1.68 m
BMI: 25.86451247165533

# Supplementary Activity

Number 1

In [81]:
base = 0.0
height = 0.0
area = 0.0

base = float(input("Enter the base of the triangle: "))
height = float(input("Enter the height of the triangle: "))

area = (1 / 2) * base * height


print("The area of the triangle is:", area)

Enter the base of the triangle: 10
Enter the height of the triangle: 9
The area of the triangle is: 45.0

Number 2

In [88]:
celsius = 0.0
fahrenheit = 0.0

celsius = float(input("Input the value for Celsius: "))


fahrenheit = (celsius * 9/5) + 32


print("The value in Fahrenheit is:", fahrenheit, "°F")

Input the value for Celsius: 100
The value in Fahrenheit is: 212.0 °F

Number 3

In [92]:
x1 = 0.0
x2 = 0.0
y1 = 0.0
y2 = 0.0

x1 = float(input("Enter the x1 value: "))
x2 = float(input("Enter the x2 value: "))
y1 = float(input("Enter the y1 value: "))
y2 = float(input("Enter the y2 value: "))

distance = ((x2 - x1)**2 + (y2 - y1)**2)**0.5


print("The distance between the two points is:", distance)

Enter the x1 value: 1
Enter the x2 value: -4
Enter the y1 value: 9
Enter the y2 value: 3
The distance between the two points is: 7.810249675906654

Question 1(Answer)

- One major difference between Python and other languages such as C is the readability of the language and how easy it is for beginners to use

- It is also main an OOP language compared to the Procedural type of C language.

Question 2(Answer)

- Variable assignment differ in python language in a way variables do not need to be declared with any particular type, and can even change type after they have been set.

Question 3(Answer)

- There should be no number at the beginning of a variable name and special characters aren't allowed except for the underscore (_).

Question 4(Answer)

- In terms of numbers the operators works as intended but when it comes to strings the operators (-, /, %, and **) dont work.For list and tuples + adds the numbers and * repeats the sequence but other operators dont work for this type of data.

Question 5(Answer)

- The * operator is for multiplication of values whilst the ** is for exponentation.

# Conclusion

In conclusion, different data types all serve a significant purpose depending on the task that requires it. Different operations and data types interact differently from one another and it's pretty easy to manipulate variables in python.

The operators have a set of rules to follow when assigned on a variables. In addition to that. Python provides an easier user input to bind variables for later use. In summary, Python's simplistic syntax helps to deal with variables and operations for users to use