<a href="https://colab.research.google.com/github/Yuan-Hessed-Vasig/CPE-103-00P-1-A/blob/main/LOOP_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# For Loop

In [75]:
# Example 2
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
    print(x)
    if x == "Thursday":
        break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [8]:
# Example 4

for x in "week":
   print(x)

w
e
e
k

# The range() Function

In [6]:
# Example

for x in range(6):
  print(x)

for x in range(2, 6):
  print(x)

0
1
2
3
4
5
2
3
4
5

# Nested Loops

In [9]:
adjective = ["red", "big", "tasty"]
fruits =  ["apple", "banana", "cherry"]

for x in adjective:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

# Python of While Statement

In [11]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

# The Break Statement

In [18]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i+=1

1
2
3

# Continue Statement

In [41]:
i = 0
while i <= 6:
    i += 1
    if i == 3:
        continue
    if i == 6:
        break

    print("number", i)

number 1
number 2
number 4
number 5

In [ ]:
i = -1
while i <= 6:
    i += 1
    if i == 3:
        continue
    if i == 6:
        break

    print("number", i)

Else Statement

In [47]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

Application 1

In [71]:
i = -1
while i < 10:
    i += 1
    if i == 11:
        break

    print("Hello", i)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

# Practical Test

Create a python program that displays integers less than 10 but not less than 3

In [74]:
i = 2
while i < 9:
    i += 1
    if i == 11:
        break

    print(i)

3
4
5
6
7
8
9