<a href="https://colab.research.google.com/github/Yuan-Hessed-Vasig/CPE-103-00P-1-A/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Fundamentals

Python Indentation

In [25]:
x = 5
y = 2

if x > y:
  print ("X is greater than Y")
elif x < y:
  print ("X is less than Y")

Python Comments

In [ ]:
#This is comment

print ("Hello World")

Python Variable

In [24]:
x = 1
a, b = 0, -1
a, b, c = 0, -1, 2

In [ ]:
b = "Sally" #This is a type of string

Casting

In [26]:
b = "sally" #This is a type of string
b = int (4)
print (b)

b = float (4)
print (b)

4
4.0

Type() Function

In [31]:
x = 5
y = "John"

print (type(x))
print (type(y))

5
John

"Double Quotes" or 'Single' Quotes

In [33]:
y = "John"
x = 'Yuan'

print (y, x)

John Yuan

Case Sensitive

In [36]:
a = 4
A = "Sally"
#A will not overwrite a

print (a)

4

Multiple Variables

In [38]:
x, y, z = "one", "two", "three"

print(x)
print(y)
print(z)

one
two
three

One Value to Multiple Variables

In [42]:
x = y = z = "four"
print(x)
print(y)
print(z)

four
four
four

Output Variables

In [43]:
x = "enjoying"
print ("Python programming is " +x)

Python programming is enjoying

In [46]:
x = "Python is "
y = "enjoying"
z = x + y
print(z)

Python is enjoying

Arithmetic Operations

In [ ]:
x = 5
y = 3
print (x+y)

In [47]:
x = 5
y = 3
sum = x + y
sum

8



> Assignment Operators

In [ ]:
# (=) Operator

x = 3 # same as 'x = 5'

In [50]:
# (+=) Operator

x += 3 # same as 'x = x + 3'

8

In [ ]:
# (-=) Operator

x -= 3 # same as 'x = x - 3'

In [ ]:
# (*=) Operator

x *= 3 # same as 'x = x * 3'

In [ ]:
# (/=) Operator

x /= 3 # same as 'x = x / 3'

In [ ]:
# (%=) Operator

x %= 3 # same as 'x = x % 3'

In [ ]:
# (//=) Operator

x //= 3 # same as 'x = x // 3'

In [51]:
# (**=) Operator

x **= 3 # same as 'x = x ** 3'

print(x)

512

In [ ]:
# (&=) Operator

x &= 3 # same as 'x = x & 3'

In [ ]:
# (!=) Operator

x |= 3 # same as 'x = x | 3'

In [ ]:
# (^=) Operator

x ^= 3 # same as 'x = x ^ 3'

In [ ]:
# (>>=) Operator

x >>= 3 # same as 'x = x >> 3'

In [ ]:
# (<<=) Operator

x <<= 3 # same as 'x = x << 3'

Comparison and Logical Operators

In [ ]:
#Logical Operator

x = 5
y = 2
not (x<y)

Identity Operators

In [53]:
a, b, c = 0, - 1, 6
a>b and c>b
True

True

In [ ]:
a, b, c = 0, -1, 5
a is c
False

Bitwise Operators

In [72]:
#decimal to binary
#20 = 10100

x = 20
x >> 1

#10 = 01010

1

Application 1

In [ ]:
#Application 1

#Trapezoid

a_trap = input("Input the length a: ")
b_trap = input("Input the length b: ")
h_tra = input("Input height(h): ")

Area_trap = float(a) + float(b) * float(h) / 2
print("The area of the trapezoid is: " , Area_trap)

Input the length a: 10

In [85]:
#Triangle

b_tri = input("Input the base length of triangle: ")
h_tri = input("Input the heigh of the triangle: ")

Area_tri = float(b) * float(h) / 2
print("The area of the triangle is: ", Area_tri)

Input the base length of triangle: 10
Input the heigh of the triangle: 10
The area of the triangle is:  314.1592653589793

In [82]:
#Circle

pi_value = 3.141592653589793

r_circ = input("Input the radius of the circle: ")

Area_circ = pi_value * float(r_circ) * float(r_circ)
print("The area of the circle is: ", Area_circ)

Input the radius of the circle: 10
The area of the circle is:  314.1592653589793